body {
	font-family: 'Roboto', sans-serif !important;
}
#main{
	height: 80%;
	width:100%;
}

.navig{
	float:right;
}

.navbar {
	margin-bottom:0;
	background-color: #34495E;
	color: #FFF;
}
.navbar-brand {
	color:white;
}

.rightbox {
	padding-right:40px;
}
.test {
	padding-top:50%;
	margin-bottom:0;
	padding-bottom:0;
}

.line1 {
	border: 2px solid;
	width:30%;
	float:right;
	display: inline-block;
	background-color: black;
}

.line2 {
	border: 2px solid;
	width:30%;
	float:left;
	display: inline-block;
	background-color: black;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
	background-color: #34495E;	
}

.carousel-inner .item .thumbnail {
	margin-bottom:0;
}

/* Profile */
.achievements-bar {
	border:1px solid #ccc;
}

.achievements h4 {
	margin-bottom: 0;
}

/* Profile End*/

.rowImage{
  float: left;
  width: 33.33%;
  padding:  10%;
}
.inf {
	float: right;
	clear:none;
	padding-left:10px;
    margin-top:30px;
}

.caption{
  width: 33.33%;
  padding:  20%;
}

.bla {
	margin-top:5%;
}

.navbar {
	border-radius: 0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0;
}

.form-container {
	width:100%;
	height:100%;
 	background-color: #F8F9F9;
}
.marg {
	margin-top:30px;
	clear:both;
	
}

.bg {
	background-color: #F8F9F9;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.login_box {
    float: none;
    margin:0 auto;
}

/* After Login */

.after-login {
	margin-top:20px;
}

.recent-box h3 {
	display: inline-block;
	width: 100%;
	background: #1b6d85;
	color: #fff;
	padding: 10px 5px;
	margin:0;
}

.recent-box h3 a {
	color:#67b168;
}

.recent-box h3 a:hover {
	color:#3c763d;
}

.recent-quiz {
	margin:10px 0;
	border:1px solid #ccc;
}

.recent-quiz .col-sm-4 {
	padding-left:0;
	padding-right:0;
}

.trending-box {
	padding:0;
}

.trending-box .trending-container {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	border:1px solid #ccc;
	padding:5px 10px;
	display: block;
}

.trending-box .trending-container a {
	padding:10px 5px;
	border-bottom: 1px solid #1b6d85;
	width: 100%;
	color: #000;
	display:inherit;
}

.trending-box .trending-container a i {
	color: #ac2925;
}

.trending-box h3 {
	background: #1b6d85;
	color: #fff;
	padding: 10px 5px;
	margin:0;
	margin-bottom: 10px;
}

/* Main Page */
.main .cover {
	position:relative;
	display:table;
	width:100%;
	height:70vh;
	background:url("../store-images/cover.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main .cover:after {
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

.main .cover .description {
	width:100%;
	position:absolute;
	z-index:99;
	text-align:center;
	top:40%;
	color:#fff;
	display: table-cell;
	vertical-align: middle;
}

.main .cover .description .btn {
	font-size:20px;
}

.main .recents {
	margin-top: 30px;
}

.main .recents .recent-box .col-sm-4 {
	padding: 0;
}

.main .recents .main-quizzes {
	background: black;
	position: relative;
	text-align: center;
	width: 100%;
}

.main .recents .main-quizzes .quiz-image {
	opacity: 1;
	transition: 0.5s opacity;
}

.main .recents .main-quizzes .quiz-desc {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: white;
	font-size: 1.4em;
	left: 0;
	padding: 10px 15px;
	position: absolute;
	transition: 0.5s padding;
	text-align: center;
	width: 100%;
}

.main .recents .main-quizzes:hover .quiz-image {
	opacity: 0.7;
}

.main .recents .main-quizzes:hover .quiz-desc {
	padding-bottom: 10%;
}

/* history */
.recent-history {
    margin-top: 30px;
    min-height:70vh;
}
.recent-history h3 {
    display: inline-block;
    width: 100%;
    background: #1b6d85;
    color: #fff;
    padding: 10px 5px;
    margin:0;
    margin-bottom:15px;
}


/* Search */
.search {
	margin-top:20px;
}
.search .search-input-group .input-group-addon{
	background: #fff;
}

.search .search-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.search .search-input-group button{
	border:0;
	background:transparent;
}